.login{
  margin-top:65px;
  margin-bottom: 100px;
}
.logup{
  margin-top:65px;
  margin-bottom: 100px;
}
.logoinmenu{
  background-color: #024731;
  width:100%;
  overflow: hidden;
  margin-bottom: 15px;
}
